.text {
    font-size: 2em; /* Tamaño de la letra */
    font-family: Arial, Helvetica, sans-serif; /* Fuente de letra */
    line-height: 1; /* Distancia de espacio en alto */
    font-weight: 100; /* Grosor de la letra */
    text-shadow: 10px 10px 10px black; /* Eje X, Eje Y, Tamaño sombra, Color */
    text-align: center; /* Alinea el centro en el centro dentro de la caja */
}

.text::first-line {
    color: aqua; /* Solo le afecta a la primer linea de algun texto */
}

.text::first-letter {
    color: red; /* Solo le afeta a la primer letra de algun texto */
}

.input::placeholder {
    color: grey; /* Cambia el color del texto al input */
}

.a:link {
    color: red; /* Cambia a esto antes de haberlo visitado */
}

.a:visited {
    color:aliceblue; /* Cambia a esto despues de haberlo visitado */
}

.button:hover {
    color: black; /* Cambia a esto cuando el mouse esta sobre el objeto */
}

.box:active {
    color:lightcoral; /* Cambia a esto mientras se este clickeando sobre este */
}

.input:focus {
    color: orange; /* Cambia a esto mientras este seleccionado */
}

.box {
    padding: 10px 20px 10px 20px; /* Distancia enrtre el texto y la caja. Orden: Top, Rigth, Bottom & Left */
    margin: 10px 20px 10px 20px; /* Distancia entre esta caja hacia afuera. Separar cajas. Orden: Top, Rigth, Bottom & Left*/

    box-sizing: border-box; /* border-box: Tamaño defindo arriba // content-box: Tamaño del contenedor */
    height: 100px;
    width: 100px;

    background-color: grey; /* Fondo en color */
    
    border: auto; /* Borde que si ocupa un espacio. Puede mover cosas */
    border-radius: 10px; /* Radio del borde */
    border-color: grey; /* Color del borde */
    border-style: solid; /* Estilo del borde */
    border-width: 100px; /* Grosor del borde */

    outline: auto; /* Borde que no ocupa un espacio. No mueve nada */
    outline-color: green; /* Color del outline */
    outline-style: solid; /* Estilo del outline */
    outline-width: 100px; /* Grosor del outline */

    box-shadow: 10px 10px 10px 0 black; /* Eje X, Eje Y, Tamaño sombra, Borde, Color */

    float: right; /* Mueve una imagen o objeto a algun lado del contenedor */
}

.position {
    position: relative; /* Posición de la caja. Tiene espacio Reservado */
    top: 10px; /* La medida mas importante a tomar sobre el eje Y */
    left: 10px; /* La medida mas importante a tomar sobre el eje X */

    position: absolute; /* Posición de la caja. Sin espacio Reservado */
    opacity: .5; /* La opacidad de la caja */
    /* Para centrar se dejan todas las propiedades en 0 y el margin en auto*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    position: fixed; /* Posición de la caja. Fijo al scroll y Superpuesto ante todo */

    position: sticky; /* Posición de la caja. Fijo al scroll al llegar a un punto */

    z-index: 10; /* El orden en capas. Capa 10, 20, 30, 100, 1000 */
}

.display {
    display: block; /* Ajusta el tamaño de la box, Ocupa toda la pantalla */
    display: inline; /* Ajusta el tamaño de la box, Se ajusta al contenido */

    display: inline-block; /* Ajusta el tamaño de la box, Se ajusta a medidas */
    
    display: grid; /* Ajusta el tamaño de la box,  */
    display: flex; /* Ajusta el tamaño de la box,  */

    display: inline-flex; /* Ajusta el tamaño de la box,  */

    width: 400px;
    height: 600px;
}

.overflow {
    overflow: auto; /* Elimina el exedente de una caja. */
    overflow: hidden; /* Elimina el exedente de una caja. No muestra nada */
    overflow: scroll; /* Elimina el exedente de una caja. Permite el scroll */
    overflow: visible; /* Elimina el exedente de una caja. Hace visible el contenido */

    overflow-y: auto; /* Elimina el exedente de una caja. Afecta solo al eje Y */
    overflow-x: auto; /* Elimina el exedente de una caja. Afecta solo al eje X */
}

.img {
    object-fit: contain; /* Se ajusta al contenedor dejando espacio vacio */
    object-fit: cover; /* Recorta la imagen para ocupar todo el contenedor */
    object-fit: none; /* Manda la foto asi nomas */
    object-fit: scale-down; /* ELije el menor valor entre none & contain */

    object-position: top; /* Elige que parte mostrar de la imagen en cover. Arriba */
    object-position: right; /* Elige que parte mostrar de la imagen en cover. Derecha */
    object-position: bottom; /* Elige que parte mostrar de la imagen en cover. Abajo */
    object-position: left; /* Elige que parte mostrar de la imagen en cover. Izquierda */
    object-position: 14px; /* Elige que parte mostrar de la imagen en cover. Esta vex con medidas */
}